<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<config frequency="60">
	<actionsets>
		<actionset>
			<name>movetoimages</name>
			<actions>
				<action>
					<kind>move</kind>
					<destination>c:/images/</destination>
				</action>
				<action>
					<kind>cmd</kind>
					<command>cmd /C C:\test\tt.bat "AUTOFILE_FILENAME"</command>
				</action>
			</actions>
		</actionset>
		<actionset>
			<name>copytodocuments</name>
			<actions>
				<action>
					<kind>move</kind>
					<destination>c:/documents/</destination>
				</action>
			</actions>
		</actionset>
		<actionset>
			<name>movetoskole</name>
			<actions>
				<action>
					<kind>move</kind>
					<destination>z:/skole/</destination>
				</action>
				<action>
					<kind>copy</kind>
					<destination>c:/documents/</destination>
				</action>
			</actions>
		</actionset>
	</actionsets>
	<folders>
		<folder>
			<path>c:/test/</path>
			<rulesets>
				<ruleset>
					<matchsetname>imagesregex</matchsetname>
					<actionsetname>movetoimages</actionsetname>
				</ruleset>
				<ruleset>
					<matchsetname>schooldocuments</matchsetname>
					<actionsetname>movetoskole</actionsetname>
				</ruleset>
			</rulesets>
		</folder>
		<folder>
			<path>C:\Users\ab\Downloads</path>
			<rulesets>
				<ruleset>
					<matchsetname>pdf</matchsetname>
					<actionsetname>copytodocuments</actionsetname>
				</ruleset>
			</rulesets>
		</folder>
	</folders>
	<matchsets>
		<matchset>
			<name>pdf</name>
			<match>
				<kind>extension</kind>
				<extension>.exe</extension>
			</match>
		</matchset>
		<matchset>
			<name>imagesregex</name>
			<match>
				<kind>extension</kind>
				<extension>.bmp</extension>
			</match>
		</matchset>
		<matchset>
			<name>schooldocuments</name>
			<match>
				<kind>and</kind>
				<matches>
					<match>
						<kind>regex</kind>
						<pattern>^Skole.*</pattern>
					</match>
					<match>
						<kind>or</kind>
						<matches>
							<match>
								<kind>extension</kind>
								<extension>.docx</extension>
							</match>
							<match>
								<kind>extension</kind>
								<extension>.txt</extension>
							</match>
						</matches>
					</match>
				</matches>
			</match>
		</matchset>
	</matchsets>
</config>