<?xml version="1.0" encoding="utf-8"?>
<config>
  <folders>
    <folder>
      <path>c:/test/</path>
      <rulesets>
        <ruleset>
          <matchsetname>imagesregex</matchsetname>
          <actionsetname>movetoimages</actionsetname>
        </ruleset>
        <ruleset>
          <matchsetname>schooldocuments</matchsetname>
          <actionsetname>movetoskole</actionsetname>
        </ruleset>
      </rulesets>
    </folder>
  </folders>
  <matchsets>
    <matchset>
      <name>imagesregex</name>
      <match>
        <kind>extension</kind>
        <extension>.bmp</extension>
      </match>
    </matchset>
    <matchset>
      <name>schooldocuments</name>
      <match>
        <kind>extension</kind>
        <extension>.txt</extension>
      </match>
    </matchset>
  </matchsets>
  <actionsets>
    <actionset>
      <name>movetoimages</name>
      <actions>
        <action>
          <kind>move</kind>
          <destination>c:/images/</destination>
        </action>
        <action>
          <kind>cmd</kind>
          <command>cmd /C C:\test\tt.bat "AUTOFILE_FILENAME"</command>
        </action>
      </actions>
    </actionset>
    <actionset>
      <name>movetoskole</name>
      <actions>
        <action>
          <kind>unpack</kind>
        </action>
        <action>
          <kind>package</kind>
          <destination>C:\config\zip.zip</destination>
          <compression>4</compression>
        </action>
        <action>
          <kind>meta</kind>
          <tag>creationTime</tag>
          <date>05-12-2014 10:33:30</date>
        </action>
        <action>
          <kind>meta</kind>
          <tag>lastAccessTime</tag>
          <date>05-12-2014 10:33:30</date>
        </action>
        <action>
          <kind>package</kind>
          <destination>C:\config\zip2.zip</destination>
          <compression></compression>
        </action>
        <action>
          <kind>meta</kind>
          <tag>lastModifiedTime</tag>
          <date>05-12-2014 10:33:30</date>
        </action>
      </actions>
    </actionset>
  </actionsets>
</config>