<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<config>
	<actionsets>
		<actionset>
			<name>movetoimages</name>
			<actions>
				<action>
					<kind>move</kind>
					<destination>c:/images/</destination>
				</action>
				<action>
					<kind>cmd</kind>
					<command>cmd /C C:\test\tt.bat "AUTOFILE_FILENAME"</command>
				</action>
			</actions>
		</actionset>
		<actionset>
			<name>copytodocuments</name>
			<actions>
				<action>
					<kind>copy</kind>
					<destination>c:/documents/</destination>
				</action>
			</actions>
		</actionset>
		<actionset>
			<name>movetoskole</name>
			<actions>
				<action>
					<kind>move</kind>
					<destination>z:/skole/</destination>
				</action>
				<action>
					<kind>copy</kind>
					<destination>c:/documents/</destination>
				</action>
			</actions>
		</actionset>
	</actionsets>
	<folders>
		<folder>
			<path>c:/test/</path>
			<rulesets>
				<ruleset>
					<matchsetname>imagesregex</matchsetname>
					<actionsetname>movetoimages</actionsetname>
				</ruleset>
				<ruleset>
					<matchsetname>schooldocuments</matchsetname>
					<actionsetname>movetoskole</actionsetname>
				</ruleset>
			</rulesets>
		</folder>
	</folders>
	<matches>
		<match>
			<name>imagesregex</name>
			<kind>extension</kind>
			<extension>.bmp</extension>
		</match>
		<match>
			<name>schooldocuments</name>
			<kind>and</kind>
			<matches>
				<match>
					<kind>regex</kind>
					<pattern>^Skole.*</pattern>
				</match>
				<match>
					<kind>or</kind>
					<matches>
						<match>
							<kind>extension</kind>
							<extension>.docx</extension>
						</match>
						<match>
							<kind>extension</kind>
							<extension>.txt</extension>
						</match>
					</matches>
				</match>
			</matches>
		</match>
	</matches>
</config>